* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, :root, body {
  height: 100%;
}

.menu-container {
  width: 200px;
  height: 100vh;
  padding: 16px 8px;
  color: #fff;
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, #5858bf 0%, rgba(20,111,213,1) 100%, rgba(165,240,255,1) 100%);
}

.menu-container .menu-item {
  display: flex;
  padding: 6px 4px;
  align-items: center;
  margin-top: 8px;
}

.menu-container .menu-item:hover {
  opacity: 0.5;
  background: #f0f0ec;
  width: 100%;
  border-radius: 8px;
  color: #5858bf;
}

.menu-container .menu-item img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

